body {
  color: 	DimGray;
  background:	OldLace;
}

blockquote{
  color: snow;
  background:tan;
}

dt{
  	color: Black;
    font-weight: bold;
}


<title>CSS 常用中文字型 (Traditional Chinese font family) – JA-Anything</title>
